
/* start navigation */ 

.header_area .main-menu .navbar .navbar-brand{
    padding: 0 1rem 0 5rem;
   
}


.header_area .main-menu .nav-item .nav-link{
    font: normal 500 15px/2px 'Roboto', cursive;
    text-transform: uppercase;
    padding: 1.7rem;
    color:  #141313;;
}

.header_area .main-menu .navbar-nav .active a{
    background: linear-gradient(90deg, #4458dc 0%, #854fee 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}


/* end navigation */ 
/*titulos*/

h1,h2,p{
    font-family: 'Roboto', sans-serif;
    
}

/*end titulos*/


/* Steeper*/
.stepper{
    font-family: 'Roboto', sans-serif;
    width: 80%;
    margin: auto;
}

.stepper-content{
    margin-top: 170px;
    position: relative;
}






/* stepper*/